@import "@/assets/css/mixins";

.hot-cate {
  background-color: #fff;
  margin: .1rem .16rem 0;
  border-radius: .06rem;
 
  .hot-cate-inner {
    display: flex;
    flex-wrap: wrap;

    .hot-cate-item {
      width: 20%;
      box-sizing: border-box;

      .cate-link {
        @include flex-column;
        @include vh-center;
        text-align: center;

        .item-img {
          width: .36rem;
          height: .36rem;
          margin-bottom: .05rem;
        }
        .item-name {
          margin-top: 0;
          font-size: .1rem;
          width: 100%;
        }
      }
    }
  }
}